body{
    background-color: rgb(219, 215, 215);
    overflow: hidden;
}
.cont{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fromJS, .details, .fromJSone{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(3, 167, 3);
    font-weight: 900;
}

.details{
    text-transform: uppercase;
    margin-bottom: 40px;
}

.fromJS, .fromJSone{
    background-color: rgb(251, 255, 0);
    border-radius: 50%;
    padding: 20px;
}

.cuatro-cifras-ind{
    margin-top: 50px;
    font-size: 30px;
    color: rgb(251, 255, 0);
    text-transform: uppercase;
    text-align: center;
}

.one, .two, .three, .four{
    border-radius: 50%;
    background-color: rgb(3, 167, 3);
    padding: 7px 17px;
    font-size: 40px;
}

.signo{
    background-color: rgb(3, 167, 3);
    margin-top: 30px;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.line{
    font-size: 50px;
    color:rgb(122, 122, 118)
}

.btn-refresh{
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(255, 251, 0);
    background-color: rgb(3, 167, 3);
    color: rgb(255, 251, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

