@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after{
    box-sizing: inherit;
}
*::before{
    box-sizing: inherit;
}

body{
    background-image: url(https://th.bing.com/th/id/R.0e688e3d82e5ea6cc573d5acf1149dfe?rik=%2f5SK6C3QKzng0A&pid=ImgRaw&r=0);
    background-size: cover;
    height: 100vh;
}
/*Header styles */
.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(64, 147, 180, 0.5);
    color: rgb(245, 241, 241);
}
.header .logo h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 5px;
}

.header .logo span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color:rgba(245, 241, 241, 0.582);
    font-weight: 700;
}
.header nav{
    padding-right: 20px;
}
.header .nav a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 5px;
    padding: 7px;
    color: aliceblue;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.header .nav a:hover{
    background-color: rgba(253, 253, 253, 0.829);
    color:rgb(64, 147, 180);
}

.content-main{
    min-height: 82vh;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.493);
}

.content-main .books{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-main .books li{
    list-style: none;
    margin: 15px;
    padding: 15px;
}

.content-main .books li img{
    width: 150px;
    border-radius: 15px;
    transition: all 0.5s;
}
.content-main .books li img:hover{
    cursor: pointer;
    transform: scale(.95);
    box-shadow: 32px 27px 27px -13px rgba(226, 223, 223, 0.3);
    -webkit-box-shadow: 32px 27px 27px -13px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 32px 27px 27px -13px rgba(255, 255, 255, 0.3);
}
.content-main .books li a,p{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.5s;
}
.author h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.author p {
    text-align: left;
    font-size: 30px;
    margin-left: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.author{
    text-align: center;
    border-top: 3px solid rgba(255, 251, 251, 0.459);
    margin: 5px;
}
.author img{
    max-width: 160px;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.5s;
}
.author img:hover{
    cursor: pointer;
    transform: scale(1.5);
    box-shadow: 32px 27px 27px -13px rgba(226, 223, 223, 0.3);
    -webkit-box-shadow: 32px 27px 27px -13px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 32px 27px 27px -13px rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(226, 226, 226, 0.137);
}
.content-main .books li a:hover{
    background-color: rgba(253, 253, 253, 0.829);
    color:rgb(64, 147, 180);
    border-radius: 15px;
    padding: 0px 5px;
}

.footer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(64, 147, 180, 0.459);
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
.footer .copyrigth{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-right: 30px;
    margin: 10px;
    align-self: center;
    justify-self: center;
}

.footer .redes a{
    margin: 0 10px;
    text-decoration: none;
}