*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after{
    box-sizing: inherit;
}
*::before{
    box-sizing: inherit;
}

.logo{
    background-color: #ffffff;
    color: #000000;
    padding: 5px 20px;
    font-family: "LiberationSans-Regular","Trebuchet MS",Helvetica , Arial, sans-serif;
    font-size: 20px;
}

.logo h1{
    padding: 10px 0;
}

.logo span{
    color: rgb(168, 164, 164);
    font-weight: 900;
    font-family: "LiberationSans-Regular","Trebuchet MS",Helvetica , Arial, sans-serif;
}

.navbar{
    background-color: #DF0E21;
    color: white;
    text-align: right;
    padding: 5px 20px;
}
.navbar a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-family: "LiberationSans-Regular","Trebuchet MS",Helvetica , Arial, sans-serif;
    font-weight: 700;
}

.content{
    min-height: 78vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.content div{
    margin: 10px;
}

.content div iframe{
    max-width: 560px;
}

.content .video1{
    max-width: 560px;
    font-size: 18px;
    font-family: "LiberationSans-Regular","Trebuchet MS",Helvetica , Arial, sans-serif;
}

.footer p{
    color: #999393;
    background-color: #ccc7c7;
}
.footer .redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer .redes a{
    margin: 0 15px;
}
.footer p{
    text-align: center;
    color: #999393;
    text-align: center;
    background-color: #ccc7c7;
    padding: 35px;
}
